Flask==1.0.0
gunicorn==20.1.0
eventlet==0.30.2
firebase_admin
oauth2client
gspread
google-api-python-client
os-win
secure-smtplib
pandas
numpy
matplotlib
tweepy
click==6.7
Flask-SQLAlchemy
itsdangerous==0.24
Jinja2==2.10
SQLAlchemy
Werkzeug>=0.14
markupsafe==2.0.1
wikipedia