
{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <link rel="icon" href="static/online.png">
    <title>Attendance</title>

  </head>
  <body>
    <center>

      <div class="jumbotron">
        {% if url %}

          <a target='_blank' href="https://mail.google.com/chat/u/2/#chat/space/AAAAJd5Znh4">
              <h2>
                <strong>
                  Message Sent Successfully
                </strong>
              </h2>
          </a>

          <br>
        {% else %}

          <h2>You may Leave blank
            <br>
            for default form entry
          </h2>

          <br>
        {% endif %}

        <form method="post" action="/vicks_bot">
          <div class="alert alert-light" role="alert">

            <br>
            <div class="alert alert-danger" role="alert">
              <h3>
                <strong>
                  Write Message Here
                </strong>
              </h3>

              <br>
              <input style="height:40px; width:500px"
              type="text" name="text"
              placeholder="Write Message here..."/>
              <br><br>
            </div>

            <br>
            <div class="alert alert-success" role="alert">
              <h3>
                <strong>
                  Paste Webhook URL
                </strong>
              </h3>

              <br>
              <input style="height:40px; width:500px"
              type="text" name="url"
              placeholder="Paste here and Press Submit"/>
              <br><br>
            </div>

            <br>
            <a class="btn btn-warning" data-toggle="collapse" href="#detail" role="button" aria-expanded="false" aria-controls="collapseExample">
              <h3>Click me to fill<br>Optional Cards</h3>
            </a>

            <br><br>
            <div class="collapse" id="detail">
              <div class="card card-body">
                <div class="container">

                  <br>
                  <div class="alert alert-primary" role="alert">
                    <h3>
                      <strong>
                        Paste Image URL
                      </strong>
                    </h3>

                    <br>
                    <input style="height:40px; width:400px"
                    type="text" name="imageUrl"
                    placeholder="Paste here..."/>
                    <br><br>
                  </div>

                  <br>
                  <div class="alert alert-warning" role="alert">
                    <h3>
                      <strong>
                        Paste Image Open Link
                      </strong>
                    </h3>

                    <br>
                    <input style="height:40px; width:400px"
                    type="text" name="openLink"
                    placeholder="Paste here..."/>
                    <br><br>
                  </div>

                </div>
              </div>
            </div>

            <br>
            <input type="image"
               src="../static/submit.png"
               width="200"
               height="60"
               alt="submit"/>
          </div>
        </form>
      </div>

      <!-- <div class="alert alert-light" role="alert">
        <iframe frameborder="0" scrolling="yes" width="100%" height="400"
           src="https://mail.google.com/chat/u/2/#chat/space/AAAAJd5Znh4" name="imgbox" id="imgbox">
        </iframe>
      </div> -->

    </center>
  </body>
</html>

{% endblock %}
