
{% extends "base.html"%}
{% block content %}

<html>
    <head>
        <title>Group Chat</title>
    </head>

    <body>
        <center>
            <br>
            <div class="jumbotron">

                <a class="btn btn-success"
                    data-toggle="collapse"
                    href="#collapseExample"
                    role="button">

                    <h1 style="color:black">
                        Click me to
                        <br>
                        Unfold Messages
                    </h1>
                </a>

                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <div class="container">
                        <br>

                        <div class="alert alert-light" role="alert">
                            <a target="_blank" href="https://console.firebase.google.com/u/0/project/ideationology-4c639/database/ideationology-4c639-default-rtdb/data/~2FGroup%20Chat">
                                <h1 style="color:red">
                                <strong>
                                    <em>
                                    Today
                                    </em>
                                </strong>
                                </h1>
                            </a>
                        </div>

                        {% for key, values in ref.items() %}
                            <div class="alert alert-primary" role="alert">
                                <br><br><br>

                                <!-- <div class="alert alert-primary" role="alert"> -->
                                    <a class="btn btn-primary"
                                        data-toggle="collapse"
                                        href="#collapse{{key}}"
                                        role="button">

                                        <h1>
                                            <strong>
                                                <em>
                                                    {{key}}
                                                </em>
                                            </strong>
                                        </h1>
                                    </a>
                                <!-- </div> -->
                                <br><br><br><br>

                                <div class="collapse" id="collapse{{key}}">

                                    {% for subkey, subvalues in values.items() %}
                                        <div class="alert alert-light" role="alert">

                                        <br>
                                        <div class="alert alert-danger" role="alert">
                                            <h1 style="color:red">
                                            {{subkey}}
                                            </h1>
                                        </div>

                                        {% for subkeysub, subvaluesub in subvalues.items() %}
                                        <tr>

                                            <td>
                                                <div class="alert alert-success" role="alert">
                                                <h1>
                                                    <strong>

                                                    <div style="white-space: pre-line">
                                                        <div>
                                                            {{subvaluesub}}
                                                        </div>
                                                    </div>

                                                    </strong>
                                                </h1>
                                                </div>
                                            </td>

                                            <th>
                                                <div class="alert alert-warning" role="alert">
                                                <h2>- by {{subkeysub}}</h2>
                                                </div>
                                            </th>

                                        </tr>
                                        {% endfor %}

                                        </div>
                                        <br><br><br><br><br>
                                    {% endfor %}
                                
                                </div>
                            </div>
                            <br><br>

                            <div class="alert alert-light" role="alert">
                            <a target="_blank" href="https://console.firebase.google.com/u/0/project/ideationology-4c639/database/ideationology-4c639-default-rtdb/data/~2FGroup%20Chat">
                                <h1 style="color:red">
                                <strong>
                                    <em>
                                    The Next Day
                                    </em>
                                </strong>
                                </h1>
                            </a>
                            </div>

                        <br><br>
                        {% endfor %}

                        </div>
                    </div>
                </div>

                <a class="btn btn-danger"
                    data-toggle="collapse"
                    href="#collapseExample"
                    role="button">

                    <h1 style="color:black">
                        Click me to
                        <br>
                        Fold Messages
                    </h1>
                </a>

                <br><br><br><br>
                <div class="alert alert-warning" role="alert">
                    <br><br>
                    <form method="post" action="/chat_sent/{{username}}">
                        
                        <h1>
                            <strong style="color: red;">
                                Let's Chat
                            </strong>
                        </h1>

                        <input type="text" 
                            style="width: 450px; height: 60;"
                            name="firechat" 
                            placeholder="Type message, or Ask Wikipedia here...">

                        <br><br><br><br>
                        <div class="alert alert-light" role="alert">

                            <h2 style="color: blue;">
                                <em>
                                    Is this Question ?
                                </em>
                            </h2>

                            <input type="checkbox"
                                style="height:40px; width:40px"
                                name="ques" value="True">
                            <h3>(beta, β)</h3>
                        </div>

                        <br><br>
                        <input type="image"
                        src="../static/submit.png"
                        width="200"
                        height="60"
                        alt="submit"/>                    
                    </form>
                </div>

                <br><br>
                <div class="alert alert-danger" role="alert">
                    
                    <h2>Exit Group Chat</h2>
                    <br>
                    <a href="{{ url_for('logout', username=username) }}">
                        <h3>
                        Logout
                        </h3>
                    </a>
                </div>

            </div>
        </center>
    </body>
</html>

{% endblock %}
