
{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <!-- is a character encoding capable of encoding all possible characters (called code points) in Unicode -->

    <link rel="icon" href="static/online.png">
    <title>Vicky Kumar</title>

  </head>
  <body>
    <center>

      <br>
      <div class="jumbotron">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdAkZFIRJACV3-9SFiJfn2ZI_k0UQ_j0uxgOX1-117yF42X0Q/viewform?embedded=true"
          width="865" height="1330"
          frameborder="0" marginheight="0"
          marginwidth="0">Loading…
        </iframe>

        <br><br>
        <a target = '_blank' href="https://github.com/imvickykumar999/gspread#updating-cells">
          <h2>
            <strong style="color:red;">
              Agenda of Next Class
            </strong>
            <br>
            Read and Write in Google Spreadsheet using Python
          </h2>
        </a>
      </div>

    </center>
  </body>
</html>

{% endblock %}
