{% extends "base.html"%}
{% block content %}

<!doctype html5>
<html>

  <head>
    <title>Login</title>
  </head>
  <body>
    <center>
      <div class="jumbotron">
        <div class="container">
          <div class="alert alert-light" role="alert">

            <div class="alert alert-primary" role="alert">
              <h2>Login 
                <span style="color: red;">
                  Here
                </span>
              </h2>
            </div>

            <div class="alert alert-success" role="alert">
              <form id="login" action="{{ url_for('login')}}" method="post">

                <h5>Username</h5>  
                <input type="text" id="username" name="username" />
                <br><br><br>
                
                <h5>Password</h5>
                <input type="password" id="password" name="password" />
                <br><br>
                <!-- <input type="submit" id="submit" text="Login" /> -->
              
                <br>
                <input type="image"
                  src="../static/submit.png"
                  width="200"
                  height="60"
                  alt="submit"/>
              </form>
            </div>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>
                    <h2>
                      {{ message }}
                    </h2>
                  </li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}

            <br>
            <div class="alert alert-danger" role="alert">
              <h4>
                New User ?
                <br>

                <a href="{{ url_for('signup') }}">
                  Signup <span style="color: red;">here</span>
                </a>
              </h4>
            </div>

          </div>
        </div>
      </div>

    </center>
  </body>
</html>

{% endblock %}
