
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8191146460815779"
     crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">
    <title>OTP Sent</title>
</head>

<body>
  <center>
    <div class="jumbotron jumbotron">

      <div class="jumbotron jumbotron-fluid">
        <div class="container">

          <div class="alert alert-danger" role="alert">
            <a target="_blank" href="https://mail.google.com/mail/u/2/#inbox">
              <h1 style="color:red;">
                <strong>
                  {% if sent == 'yes' %}
                    OTP has been sent
                  {% elif sent == 'unknown' %}
                    Unknown Admin
                  {% endif %}
                </strong>
              </h1>
            </a>
          </div>
        </div>
      </div>

      <br>
        <form method="post" action="/mail_sent">
          <div class="alert alert-danger" role="alert">
            <div class="alert alert-primary" role="alert">
              
              <br>
              <h2>Enter Email Address</h2>
              <input style="height:30px; width:300px"
              type="text" name="toaddr" required>
              <br><br>

              <h style="color:blue;">
                <strong>
                  Press Send Button<br>to get OTP
                </strong>
              </h3>

              <br>
            </div>

            <input type="image"
              src="../static/send.png"
              alt="submit"/>

          </div>
      </form>
    </div>
  </center>

</body>
</html>
