{% extends "base.html"%}
{% block content %}

<!doctype html5>
<html>
  <head>
    <title>{{ username }} - Home</title>

    <style>
      .image-cropper {
        width: 300px;
        height: 300px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
      }
    </style>

  </head>

  <body>
    <div id="vickscroll">
      {% if scroll %}
      <script>
          document.location.hash = '#' + '{{ scroll }}';
      </script>
      {% endif %}
    </div>
    <!-- scroll='vickscroll', -->

    <center>
      <div class="jumbotron">
        <div class="container">
          <div class="alert alert-light" role="alert">

            <br>
            <div class="alert alert-success" role="alert">
              <h2>Hello 
                <a target="_blank" href="https://github.com/{{username}}">
                  <span style="color: red;">
                    {{person}}
                  </span>
                </a>
              </h2>
            </div>
            <br>

            <div class="image-cropper">
              <a target="_blank" href="https://api.whatsapp.com/send?text=https://ideationology.herokuapp.com{{ url_for('profile', username=username) }}">
                <img style="height: 100%;" src="{{dp_url}}">
              </a>
            </div>
            <br>

            <a target="_blank" href="https://api.whatsapp.com/send?text=https://ideationology.herokuapp.com{{ url_for('profile', username=username) }}">
              <h5> ( Click on DP to Share Profile on WhatsApp ) </h5>
            </a>
            <br>

            <div class="alert alert-primary" role="alert">
              <h2 style="color: red;">
                <strong>
                  --- Bio ---
                </strong>
              </h2> 

              <pre>
                <code class="language-python">
                  <h3 style="color: blue;">{{bio}}</h3>
                </code> 
              </pre>
            </div>

            <div class="alert alert-danger" role="alert">
              <a href="{{ url_for('login') }}">
                <h4>
                  Login
                </h4>
              </a>
            </div>
          </div>

          <br><br>
          <div class="alert alert-warning" role="alert">
            <br>
              <h2>
                <em>
                  <strong>
                    Other User's Profile
                  </strong>
                </em>
              </h2>
            <br>

            {% for i in friend_list %}
              <div class="alert alert-light" role="alert">
                <a target="_blank" href="/profile/{{i}}">
                  <h4>
                    {{ i }}
                  </h4>
                </a>
              </div>
              <br>
            {% endfor %}
          </div>

        </div>
      </div>
    </center>
  </body>
</html>

{% endblock %}
