{% extends "base.html"%}
{% block content %}

<!doctype html5>
<html>
  <head>
    <title>Sign Up</title>
  </head>

  <body>
    <center>
      <div class="jumbotron">
        <div class="container">
          <div class="alert alert-light" role="alert">

            <div class="alert alert-primary" role="alert">
              <h2>SignUp 
                <span style="color: red;">
                  Here
                </span>
              </h2>
            </div>

            <div class="alert alert-warning" role="alert">
              <br>
              <form id="signup" action="{{ url_for('signup')}}" method="post">

                <div class="alert alert-light" role="alert">
                  <iframe frameborder="0" scrolling="yes" width="100%" height="460"
                    src="/vicksmail" name="imgbox" id="imgbox">
                  </iframe>
                </div>

                <br>
                <h3>
                  Enter OTP
                </h3>
                <input type="text" name="otp"
                style="height:35px; width:300px"
                placeholder="Check your Mail and Enter OTP here."/>
                <br><br><br>

                <div class="alert alert-success" role="alert">
                  <br>
                  <h5>GitHub Username</h5>
                  <input type="text" id="username" name="username" />
                  <br><br><br>
                  
                  <h5>Set Password</h5>
                  <input type="password" id="password" name="password" />
                  <br><br><br>

                  <h5>Bio</h5>
                  <textarea id="bio" name="bio" rows="4" cols="50" maxlength="200"></textarea>
                  <br><br><br>

                  <h5>DP URL</h5>
                  <input type="text" 
                  placeholder="Leave blank for default DP"
                  style="height:40px; width:350px" name="dp_url" />
                  <br><br>
                </div>

                <!-- <input type="submit" id="submit" text="Signup" /> -->
              
                <br>
                <input type="image"
                  src="../static/submit.png"
                  width="200"
                  height="60"
                  alt="submit"/>
              </form>
            </div>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>
                    <h2>
                      {{ message }}
                    </h2>
                  </li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}

            <br>
            <div class="alert alert-danger" role="alert">
              <h4>
                Already have account ?
                <br>

                <a href="{{ url_for('login') }}">
                  Login <span style="color: red;">here</span>
                </a>
              </h4>

            </div>
          </div>
        </div>
      </div>
    </center>
  </body>
</html>

{% endblock %}
