{% extends "base.html"%}
{% block content %}

<!doctype html5>
<html>
  <head>
    <title>{{ username }} - Home</title>

    <style>
      .image-cropper {
        width: 300px;
        height: 300px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
      }
    </style>

  </head>

  <body>
    <center>
      <form action="/account/{{username}}" method="post">
        <div class="jumbotron">
          <div class="container">
            <div class="alert alert-light" role="alert">

              <br>
              <div class="alert alert-success" role="alert">
                <h2>Hello 
                  <a target="_blank" href="https://github.com/{{username}}">
                    <span style="color: red;">
                      {{person}}
                    </span>
                  </a>
                </h2>
              </div>
              <br>

              <div class="image-cropper">
                <a target="_blank" href="{{ url_for('profile', username=username) }}">
                  <img style="height: 100%;" src="{{dp_url}}">
                </a>
              </div>
              <br>

              <a target="_blank" href="{{ url_for('profile', username=username) }}">
                <h5> ( Click on DP to view Profile ) </h5>
              </a>
              <br>

              <div class="alert alert-primary" role="alert">
                <h2 style="color: red;">
                  <strong>
                    --- Bio ---
                  </strong>
                </h2> 

                <pre>
                  <code class="language-python">
                    <h3 style="color: blue;">{{bio}}</h3>
                  </code> 
                </pre>
              </div>

              <div class="alert alert-warning" role="alert">
                <button class="btn btn-outline-warning" type="button" data-toggle="collapse" data-target="#collapseBio" aria-expanded="false" aria-controls="collapseExample">
                  <h3 style="color: red;">
                    <strong>
                      --- Click to Edit Profile ---
                    </strong>
                  </h3>
                </button>
                <br>

                <div class="collapse" id="collapseBio">
                  <br><br>
                  <h5>Bio</h5>
                  <textarea cols="30" type="text" name="edit_bio"></textarea>
                  
                  <br><br>
                  <h5>DP URL</h5>
                  <input type="text" 
                    style="width: 300;"
                    placeholder="Paste URL here"
                    name="edit_dp">

                  <br><br>
                  <h6>(Edit Cost : min. 1 rupee to Someone)</h6>
                  <br>

                </div>
              </div>
              <br>

              <div class="alert alert-danger" role="alert">
                <a href="https://console.firebase.google.com/u/0/project/ideationology-4c639/database/ideationology-4c639-default-rtdb/data/~2FBank_Account~2FUser">
                  <h5 style="color: red;">
                    Account Balance
                  </h5>
                </a>

                <h2>
                  {{disp}}
                </h2>
              </div>
              <br>

              <div class="alert alert-success" role="alert">  
                <br>
                
                <div class="alert alert-warning" role="alert">
                  <br>

                  <h5>Enter Amount</h5>
                  <input type="text" name="money" required>
                  <br><br><br>

                  <h5>Send to Username</h5> 
                  <input type="text" name="pay" required>
                  <br><br><br>
                </div>

                <br>
                <input type="image"
                src="../static/submit.png"
                width="200"
                height="60"
                alt="submit"/>
                
                <!-- <input type="submit" text="Send Money" /> -->
              </div>
              <br>

              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul class=flashes>
                    {% for message in messages %}
                      <li>
                        <a href="/user/{{username}}">
                          <h5>{{ message }}</h5>
                        </a>
                      </li>
                      <br><br>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}

              <div class="alert alert-danger" role="alert">
                <a href="{{ url_for('logout', username=username) }}">
                  <h3>
                    Logout
                  </h3>
                </a>
              </div>

            </div>
            <br><br>

            <div class="alert alert-warning" role="alert">
              <br>

              <a class="btn btn-warning"
                  data-toggle="collapse"
                  href="#collapseProfile"
                  role="button">

                  <h2>
                    <em>
                      <strong>
                        -- Available Username --
                      </strong>
                    </em>
                  </h2>
                </a>

              <br><br>
              <div class="collapse" id="collapseProfile">
                {% for i in friend_list %}
                  <div class="alert alert-light" role="alert">
                    <h3 style="color: red;">
                      {{ i }}
                    </h3>

                    <br>
                    <a target="_blank" href="/profile/{{i}}">
                      <h6>
                        Show Profile
                      </h6>
                    </a>

                  </div>
                  <br>
                {% endfor %}
              </div>

              <br>
              <div class="alert alert-danger" role="alert">
                <a target="_blank" href="{{ url_for('chat', username=username) }}">
                  <h3>
                    <em>
                      Enter Group Chat
                    </em>
                  </h3>
                </a>
              </div>

            </div>

          </div>
        </div>

      </form>
    </center>
  </body>
</html>

{% endblock %}
