
{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <link rel="icon" href="static/online.png">
    <title>Vicky Kumar</title>

  </head>
  <body>
    <center>

      <div class="jumbotron">
        <form method="post" action="/ytube">
          <div class="alert alert-light" role="alert">

            <br>
            <div class="alert alert-primary" role="alert">
              <h3>
                <strong>
                  Search YouTube Video
                </strong>
              </h3>

              <br>
              <input style="height:40px; width:400px"
              type="text" name="q"
              placeholder="Write Title or Video ID here..."/>
              <br><br>
            </div>

            <input type="image"
               src="../static/submit.png"
               width="200"
               height="60"
               alt="submit"/>
          </div>
        </form>

        <br><br>
        <iframe width="720" height="405"
          src="https://www.youtube.com/embed/{{vid}}">
        </iframe>

        <br><br>
        <a target="_blank" href="https://api.whatsapp.com/send?text=https://vixtest.herokuapp.com/youtube?q={{vid}}">
          <h2 style="color:red;">
            Share this Video on WhatsApp
          </h2>
        </a>
      </div>

      <br>
      <div class="jumbotron">
        <a class="btn btn-success" data-toggle="collapse" href="#detail" role="button" aria-expanded="false" aria-controls="collapseExample">
          <h3>Click me to... <br>See Video Detail</h3>
        </a>

        <div class="collapse" id="detail">
          <div class="card card-body">
            <div class="container">

              <table>
                {% for key, value in data.items() %}
                   <tr>
                      <th>
                        <div class="alert alert-success" role="alert">
                          <h5>{{ key }}</h5>
                        </div>
                      </th>

                      <td>
                        <div class="alert alert-danger" role="alert">
                          <h5>{{ value }}</h5>
                        </div>
                      </td>
                   </tr>
                {% endfor %}
              </table>

            </div>
          </div>
        </div>

        <strong>
          <em>
            <a class="btn btn-warning" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <h3>Click me to... <br>See Comments</h3>
            </a>

            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <div class="container">

                    {% for key, value in com.items() %}
                      <div class="alert alert-success" role="alert">

                        {% if value %}

                          <a class="btn btn-primary" data-toggle="collapse" href="#{{key[0:2]}}" role="button" aria-expanded="false" aria-controls="{{key}}">
                            <h1>
                              <div style="white-space: pre-line">
                               {{key}}
                             </div>
                            </h1>
                          </a>

                          <div class="collapse" id="{{key[0:2]}}">
                            <div class="card card-body">

                              <div>
                                {% for i in value %}

                                <div class="alert alert-danger" role="alert">
                                  <h3>
                                    <div style="white-space: pre-line">
                                      {{i}}
                                    </div>
                                  </h3>
                                </div>

                                {% endfor %}
                              </div>

                            </div>
                          </div>

                        {% else %}

                        <h1>
                          {{key}}
                        </h1>

                        {% endif %}

                      </div>
                    {% endfor %}

                </div>
              </div>
            </div>
          </em>
        </strong>

      </div>
    </center>
  </body>
</html>

{% endblock %}
